                      <nav class="navbar navbar-default navbar-fixed-top navbar-top">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-expand-toggle">
                                    <i class="fa fa-bars icon"></i>
                                </button>
                                <ol class="breadcrumb navbar-breadcrumb">
                                  <% if current_page?(controller: 'contacts', action: 'new') %>
                                    <li class="active">Contact</li>
                                  <% elsif current_page?(controller: 'profiles', action: 'edit') %>
                                    <li class="active">Settings</li>
                                  <% elsif current_page?(controller: 'profiles', action: 'new') %>
                                    <li class="active">Settings</li>
                                  <% elsif current_page?(controller: 'cars', action: 'index') %>
                                    <li class="active">My Cars</li>
                                  <% elsif current_page?(controller: 'orders', action: 'new') %>
                                    <li class="active">Request A Service</li>
                                  <% end %>
                                </ol>
                                <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                                    <i class="fa fa-power-off icon"></i>
                                </button>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                                    <i class="fa fa-times icon"></i>
                                </button>
                                <li>
                                    <% if user_signed_in? %>
                                        <% if current_user.profile %> 
                                            <a href="#" class="dropdown-toggle disabled" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> <%= @user.profile.first_name %> <%= @user.profile.last_name %></a>
                                        <% else %>
                                            <%= link_to "Add You Info", new_user_profile_path(current_user) if current_user %>
                                        <% end %>
                                    <% end %>
                                </li>
                                <li>
                                    <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-sm" %>
                                </li>

                            </ul>
                        </div>
                    </nav>
