    <div class="user">
        <div class="flat-green">
            <div class="app-container">
                <div class="row content-container">
                    <!--Top nav===========================================================================================================-->
                    <%= render 'top_nav' %>
                    <!--Side menu begins =================================================================================================-->
                    <%= render 'side_nav' %>
                    <!-- Main Content==================================================================================================== -->
                    <div class="container-fluid">
                        <div class="side-body padding-top">
                            <div class="row">
                                <!--oil card =====================================================================================-->
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <a herf="#"role="button" data-toggle="modal" data-target="#oil">
                                        <div class="card green summary-inline">
                                            <div class="card-body">
                                                <i class="icon fa fa-tint fa-4x"></i>
                                                <div class="content">
                                                    <div class="title">Oil Change</div>
                                                    <div class="sub-title">+ 90 Point Inspection</div>
                                                </div>
                                                <div class="clear-both"></div>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- Modal -->
                                    <div class="bootcontainer">
                                        <div class="modal fade" id="oil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Oil Change</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                    ...
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-primary">Send</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end modal-->
                                </div>
                                <!--repairs card =====================================================================================-->
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <a herf="#"role="button" data-toggle="modal" data-target="#repairs">
                                        <div class="card blue summary-inline">
                                            <div class="card-body">
                                                <i class="icon fa fa-wrench fa-4x"></i>
                                                <div class="content">
                                                    <div class="title">Repairs</div>
                                                    <div class="sub-title">New</div>
                                                </div>
                                                <div class="clear-both"></div>
                                            </div>
                                        </div>
                                    </a>
                                     <!-- Modal -->
                                    <div class="bootcontainer">
                                        <div class="modal fade" id="repairs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Repairs</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                    ...
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-primary">Send</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end modal-->
                                </div>
                                <!--CarClean card =====================================================================================-->
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <a herf="#"role="button" data-toggle="modal" data-target="#CarClean">
                                        <div class="card red summary-inline">
                                            <div class="card-body">
                                                <i class="icon fa fa-leaf fa-4x"></i>
                                                <div class="content">
                                                    <div class="title">CarClean</div>
                                                    <div class="sub-title">New</div>
                                                </div>
                                                <div class="clear-both"></div>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- Modal -->
                                    <div class="bootcontainer">
                                        <div class="modal fade" id="CarClean" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">CarClean</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                    ...
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-primary">Send</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end modal-->
                                </div>
                                <!--winterization card =====================================================================================-->
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <a herf="#"role="button" data-toggle="modal" data-target="#winterization">
                                        <div class="card yellow summary-inline">
                                            <div class="card-body">
                                                <i class="icon fa fa-shield fa-4x"></i>
                                                <div class="content">
                                                    <div class="title">Winterization</div>
                                                    <div class="sub-title">+ Rust Proofing</div>
                                                </div>
                                                <div class="clear-both"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- Modal -->
                                <div class="col-md-3 col-md-6 col-sm-6 col-xs-12 pull-right">
                                    <div class="bootcontainer">
                                        <div class="modal fade" id="winterization" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Winterization</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                    ...
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-primary">Send</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end modal-->
                            </div>
                        </div>
                    </div>
                    <!-- End Main Content==================================================================================================== -->
                </div>
            </div>
        </div>
    </div>

