<footer id="fh5co-footer">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-footer-content">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-4 col-md-push-4">
							<h3 class="fh5co-lead">Company</h3>
							<ul>
								<li><a href="#">How It Works</a></li>
								<li><a href="#">Services</a></li>
								<!-- <li><a href="#">Careers</a></li> -->
								<!-- <li><a href="#">Blog</a></li> -->
								<li><a href="#">Terms of Service</a></li>
								<li><a href="#">Frequently Ask Questions</a></li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-4 col-md-push-6">
							<h3 class="fh5co-lead">Connect</h3>
							<ul>
							<li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
							<li><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>
							<li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
							<li><a href="#"><i class="fa fa-envelope"></i> Feedback</a></li>
							<li><a href="#"><i class="fa fa-youtube-play"></i> Youtube</a></li>
							</ul>
						</div>

						<div class="col-md-3 col-sm-12 col-md-pull-6">
							<div class="fh5co-footer-logo"><a href="index.html">Fixa</a></div>
							<p class="fh5co-copyright"><small>&copy; 2015. All Rights Reserved. </p>
						</div>
						
					</div>
				</div>
			</div>
		</footer>