<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
      <p> <%= @service_type %> order request from <%= "#{ @first_name }." %></p>
    <p><%= @car_type %></p>
    <p><%= [ @first_name, @last_name ] %></p>
  </body>
</html>
