@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";






.alert-notice {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-alert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

// Adjusts the height form container in profile edit page
.mcontainer {
    margin-right: auto;
    margin-top: 65px;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

