@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";




.alert-notice {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-alert {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

// Adjusts the height form container in profile edit page
.mcontainer {
    margin-right: auto;
    margin-top: 65px;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

// Car Box
#cars {
  margin: 0 auto;
  width: 100%;
  .box {
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: center;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  }
	  h1 {
	  	text-transform: uppercase;
	  }
	  h4 {
	  	text-transform: uppercase;
	  }
	  .user {
	  	font-size: 12px;
	  	border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
	  }
	}
}


// Custom button for car deletion 
.mbtn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-group-xs>.mbtn, .mbtn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

// Order modal adjustments
.modal-body {
      position: relative;
          padding: 8px !important;
}
.modal-footer {
  padding: 8px;
  text-align: right;
  border-top: 1px solid #e5e5e5;

}
