    <div class="user">
        <div class="flat-green">
            <div class="app-container">
                <div class="row content-container">
                    <!--Top nav===========================================================================================================-->
                    <%= render partial: "users/top_nav" %>
                    <!--Side menu begins =================================================================================================-->
                    <%= render partial: "users/side_nav" %>
                    <!-- Main Content==================================================================================================== -->
                     <div class="mcontainer"> <!--The mcontainer adjusts the height for the update form found in custom.css.scss-->
                        <div class="container">
                            <div class="row">

                                <%= render "cars" %>

                                <div class="col-md-4 col-md-offset-4">
                                    <%= link_to "Add Car", new_user_car_path(current_user), class: "btn btn-default btn-lg btn-block" %>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Main Content==================================================================================================== -->
            </div>
        </div>
    </div>
