    <div class="user">
        <div class="flat-green">
            <div class="app-container">
                <div class="row content-container">
                    <!--Top nav===========================================================================================================-->
                    <%= render partial: "users/top_nav" %>
                    <!--Side menu begins =================================================================================================-->
                    <%= render partial: "users/side_nav" %>
                    <!-- Main Content==================================================================================================== -->
                    <div class="mcontainer">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <h1 class="text-center">My Cars</h1>
                                <div>
                                    <%#= render 'form' %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Main Content==================================================================================================== -->
                </div>
            </div>
        </div>
    </div>

             